@media (max-width: 768px) {
    .foto,.foto-reverse{
      flex-direction: column;
      margin: 0;
      padding: 0;
    }
    .foto-reverse p, .texto{
        margin-right: 1.5em;
        margin-left: 1.5em;
    }
    .texto{
        text-align: left;
    }
    main{
        padding: 10%;
    }
    .e1{
        width: 100%;
    }
    .contato{
        flex-direction: column;
    }
    .endereco-funcionamento{
        flex-direction: column;
        
    }
    .endereco{
        padding-right: 0px;
        border-right: 0px;
        text-align: center;
    }
    #icon-login, #logo-binho-top{
        display: none;
    }
    .sidebar-hidden {
        transform: translateX(-100%); /* Oculta a sidebar, empurrando-a para fora */
        transition: transform 0.3s ease; /* Animação suave */
        width: 100%;
    }
      
    .sidebar-shown {
        transform: translateX(0); /* Torna a sidebar visível */
        width: 100%;
        z-index: 1;
        background-color: black;
        opacity: 0.8;
    }

    .element-sidebar a{
        color: white;
    }

    .flexfoot{
        flex-direction: column;
    }
    .colecao{
        flex-direction: column;
        align-items: center;
    }
    .colecao img{
        width: 80%;
    }
    #center-content{
        width: 100vw;
        display: none;
    }


  /*Ajuste no alinhamento de Informações de Contato*/
  .contato {
    flex-direction: column;
    padding: 2%; /* Ajuste de espaçamento geral */
}

.endereco-funcionamento {
    flex-direction: column;
    align-items: flex-start; /* Alinha o conteúdo à esquerda */
}

.endereco {
    padding-right: 0;
    border-right: 0;
    text-align: left; /* Remove a centralização */
}

.horario {
    padding-left: 0;
    text-align: left; /* Remove a centralização */
}

.telefonebox {
    text-align: left; /* Garante alinhamento ao lado esquerdo */
}
#some{
    display: block;
}
}