@media (max-width: 768px) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
    .exit a i{
        width: 20%;
    }
    
    .wrapper {
        width: 60%;
    }

    .input-box {
        width: 60%;
    }

    .input-box input{
        font-size: 16px;
    }

    .remember-forgot{
        flex-direction: column;
    }

    .remember-forgot label{
        font-size: 12px;
    }

    .remember-forgot a{
        font-size: 12px;
        padding-left: 5px;
    }
}