@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  margin: 0;
  padding: 0;
  width:100%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden ;
}
body {
    margin: 0;
}
.barra-links {
  color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border-bottom: #fff solid 1px;
  backdrop-filter: blur(10px);
  
}
.btn-icon-header {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 50px;
    padding-top: 20px;
}
.btn-icon-header:hover {
    transition: 0.4s;
    color: #360202;
}
  
  /*Sidebar*/
  
.sidebar-hidden {
    position: absolute;
    display: flex;
    height: 86.8vh;
    width: 20%;
    flex-direction: column;
    align-items: center;
    backdrop-filter:blur(10px);
    backdrop-filter:contrast(-40%);
    border-right: solid rgba(216, 216, 216, 0.096) 2px;
    transition: left 1s;
    left: -20%;
    
}
  
.sidebar-shown {
    position: absolute;
    display: flex;
    height: 86.8vh;
    width: 20%;
    flex-direction: column;
    align-items: center;
    backdrop-filter:contrast(-20%);
    border-right: solid rgba(216, 216, 216, 0.096) 3px;;
    left: 0%;
    transition: 1s;
    
}
.element-sidebar{
    margin-top: 60px;
}
.element-sidebar a{
    text-decoration: none;
    color: #fff;
    transition: 0.4s;
}
.element-sidebar a:hover {
    transition: 0.4s;
    color: #360202;
}

main{
    width: 100%;
}
.background1{
    height: 60vh;
    position: relative;
    background: url(/imagens/background_image.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    text-align: center;
    box-shadow: black;
}
.banner h2{
    padding-bottom: 1rem;
}
.logo-banner {
    width: 10rem;
    margin: 0%;
}
.center-content {
    padding: 40px;
    margin-top: 3%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: solid rgba(216, 216, 216, 0.096) 3px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    width: 30%;
    height: 45%;
}
.background2 {
  background-color: #f7f7f7;
  padding: 3% 15%;
}
.aba-cardapio{
    border: solid 2px #bdbdbd;
    border-top: solid 3px #000;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 10%;
}
.title-box{
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between
}
 /*barras verticais expansivas*/
.collapsible {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
.collapsible:after {
    content: '\2212';
    color: black;
    font-weight: bold;
    margin-left: 5px;
    
}
  
.active:after {
    content: '\002B';
}
  
.content {
    display: flex;
    flex-direction: column;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.7s ease-out;
    background-color: #fff;
  }
.boxes{
    display: flex;
    flex-direction: row;
}
.box1 {
    display:flex ;
    flex-direction: row;
    align-items: center;
    color: #000;
    border-bottom: solid 2px#d2d1d1;
    width: 90%;
    margin-bottom: 2%;
    margin-left: 4%;
}
.box2 {
    display:flex ;
    flex-direction: row;
    align-items: center;
    color: #000;
    border-bottom: solid 2px #d2d1d1;
    width: 90%;
    margin-left: 4%;
    margin-bottom: 2%;
    margin-right: 4%;
}
 /*configuraçao do conteudo*/
.text{
    display: flex;
    flex-direction: column;
}
.prato{
    margin: 3% 0%;
}
.comment{
    color: rgb(102, 102, 102);
    margin: 0%;
}
.price{
    margin-top: 15%;
}
img{
    width: 10vw;
    
    border-radius: 10px;
    margin-left: 5vw;
}

/* Footer */
footer{
    background-color: #151515;
    color: #a5a5a5;
  }
  .flexfoot{
    display: flex;
    margin:0%,4%,4%,0%;
    justify-content: space-around;
  }
  .copyright,.navegacao,.links,.developed{
    text-align: center;
  }
  .navegacao a{
    display: block;
    color: #c7c7c7;
    text-decoration: none;
    transition: 1s;
  }
  .navegacao a:hover{
  color: #fff;
  transition: 1s;
  }
  .btn-footer{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
  .midias{
    width: 40px;
    margin: 0%;
    padding: 1px 6px;
  }
  .copyright{
    margin-bottom: 0%;
    padding-bottom: 2rem;
  }

