@media (max-width: 768px) {
    #icon-login, #logo-binho-top{
        display: none;
    }
    .sidebar-hidden {
        transform: translateX(-100%); /* Oculta a sidebar, empurrando-a para fora */
        transition: transform 0.3s ease; /* Animação suave */
        width: 100%;
    }
      
    .sidebar-shown {
        transform: translateX(0); /* Torna a sidebar visível */
        width: 100%;
        z-index: 1;
        background-color: black;
        opacity: 0.8;
    }

    .aba-cardapio{
        width: 100%;
    }

    .boxes{
        flex-direction: column;
    }

    .boxes div{
        flex-direction: column;
    }

    .boxes div .imagem {
        display: flex;
        justify-content: center;
        align-items: center;    
        padding-bottom: 10px;
    }

    .boxes div .imagem img{
        width: 80%;
    }

    .center-content{
        margin-top: 50px;
        height: 30%;
    }
    .center-content h2{
        margin: 2px;
    }

    .background1 {
        min-height: 97vh; /* Sempre cobre toda a tela */
        position: relative;
        background: url(/imagens/background_image.png) no-repeat center center;
        background-size: cover;
    }
    #some{
        display: block;
    }
}
