@media (max-width: 768px) {
    .boxes{
        display: flex;
        flex-direction: column;
    }
    #icone-login{
        display: none;
    }
    .flexfoot{
        flex-direction: column;
    }
    .box1{
        flex-direction: column;
    }
    .box2{
        flex-direction: column;
    }
    .img_produto{
        width: 50%;
        height: 50%;
        
    }
    #icon-login, #logo-binho-top{
        display: none;
    }
    .sidebar-hidden {
        transform: translateX(-100%); /* Oculta a sidebar, empurrando-a para fora */
        transition: transform 0.3s ease; /* Animação suave */
        width: 100%;
    }
      
    .sidebar-shown {
        transform: translateX(0); /* Torna a sidebar visível */
        width: 100%;
        z-index: 1;
    }
    #some{
        display: block;
    }
}

