@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');/*Lato*/

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #360202;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

/*Header*/

.barra-links {
  color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  width: 100%;
  height: 100%;
  padding-bottom: 1rem;
  margin: 0;
  backdrop-filter: blur(10px);
  border-bottom: #fff solid 1px;
  perspective: 5px;
}

.btn-icon-header {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 50px;
  padding-top: 20px;
}
.btn-icon-header:hover {
  transition: 0.4s;
  color: #360202;
}

/*Sidebar*/

.sidebar-hidden {
  position: absolute;
  display: flex;
  height: 86.8vh;
  width: 20%;
  flex-direction: column;
  align-items: center;
  backdrop-filter:blur(10px);
  backdrop-filter:contrast(-40%);
  border-right: solid rgba(216, 216, 216, 0.096) 2px;
  transition: left 1s;
  left: -20%;

}

.sidebar-shown {
  position: absolute;
  display: flex;
  height: 86.8vh;
  width: 20%;
  flex-direction: column;
  align-items: center;
  backdrop-filter:blur(10px);
  backdrop-filter:contrast(-20%);
  border-right: solid rgba(216, 216, 216, 0.096) 3px;;
  left: 0%;
  transition: 1s;
}
.element-sidebar{
  margin-top: 60px;
}
.element-sidebar a{
  text-decoration: none;
  color: #fff;
  transition: 0.4s;
}
.element-sidebar a:hover {
  transition: 0.4s;
  color: #360202;
}
/*Seção 1*/
.banner {
  width: 100%;
  color: white;
  align-items: center;
  text-align: center;
  box-shadow: black;
}
.logo-banner {
  width: 10rem;
}
.center-content {
  padding: 40px;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: solid rgba(216, 216, 216, 0.096) 3px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}
p:last-of-type {
  margin-bottom: 0;
  padding-bottom: 2rem;
}
.background {
  height: 100vh;
  position: relative;
  background: url(/imagens/background_image.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.center-content h3 {
  font-weight: 200;
}
.center-content h2,
.center-content h3 {
  margin: 10px;
}


/*Seção 2 // Main*/

main {
  background-color: #f5f5f5a8;
  padding: 3% 15%;

}
.foto {
  display: flex;
  align-items:center;
  padding: 2rem;
}
.foto .texto {
  margin-left: 3rem;
}
.e1 {
  width: 50%;
  border-radius: 10px;

}
.foto-reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 2rem;
}
.foto-reverse .texto {
    margin-right: 3rem;
    position: relative;
}
.foto p, .foto-reverse p{
    text-indent: 1em;
}
.foto h2, .foto-reverse h2{
  text-align: center;
} 
.box-link{ /*Botão saiba mais*/
  height: 2em;
  background-color: #360202;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, -1);
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  transition: 0.4s;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 2rem;
  
}
.foto-reverse-flex{
  display: flex;
  justify-content: center;
}
.btn-ir-cardapio{
  background-color: #050000;
  border-radius: 30px;
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: pointer;
  transition: 1s;
  border: solid grey;
}
.btn-ir-cardapio:hover{
background-color: #ffffff;
color: #000000;
transition: 1s;
}
/*Seção 3 // Article */

article{
  color: #fff;
  background-image: linear-gradient(#440303,#290000);
  padding: 2em 10%;
}
article h1{
  text-align: center;
}
.contato{
display: flex;
justify-content: space-between;
padding-top: 3%;
padding-bottom: 4%;
}
.endereco{
  padding-right: 2rem ;
  border-right: solid 1px white ;
}
.horario{
  padding-left: 3em;
}
.endereco-funcionamento{
  display: flex;
}
.horario p{
  padding-bottom: 0px;
}
/*Footer*/

footer{
  background-color: #151515;
  color: #a5a5a5;
}
.flexfoot{
  display: flex;
  margin:0%,4%,4%,0%;
  justify-content: space-around;
}
.copyright,.navegacao,.links,.developed{
  text-align: center;
}
.navegacao a{
  display: block;
  color: #c7c7c7;
  text-decoration: none;
  transition: 1s;
}
.navegacao a:hover{
color: #fff;
transition: 1s;
}
.btn-footer{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/*Eventos*/
.background-2 {
  height: 100vh;
  position: relative;
  background: url(/imagens/festas-salao-transformed.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.borrao{
  backdrop-filter: blur(5px);
  height: 100vh;
  width: 100vw;
}
.colecao{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.colecao img{
width: 45%;
height: 45%;
padding: 1%;
}
.secao-fotos{
padding: 0%,0%;
background-color: #f5f5f5a8;
}
