<div class="itens1">   
    <img src="{{ url_for('static', filename='imagens/Imagens cardapio/' + imagem.lower()) }}" width="150px" class="imagens_carrinho">

    <div class="titulo-descricao">
        <h3> {{nome}} </h3> 
        <p> {{descricao}}</p
    ></div>
    
    <div class="quantidade">

        <p class="quantidade-titulo"><strong>Quantidade</strong></p>
        <div class="quantidadefn">
            
            <form action="{{ url_for('retirar', id=carrinho.id) }}" method="POST">
                <button type="submit">-</button>
            </form>

                <p>{{carrinho.quantidade}}</p>

            <form action="{{ url_for('adicionar', id=carrinho.id) }}" method="POST">
                <button type="submit">+</button>
            </form>

            <form action="{{ url_for('excluirPedido', id=carrinho.id) }}" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir este pedido?');">
                <button type="submit" id="excluir"><i class='bx bxs-trash'></i></button>
            </form>
        </div>
    </div>

    <p> <strong> Valor: </strong> R${{carrinho.valor_total}}</p>
</div>
